header, footer {
  background-color: #4baef3;
  margin: 10px 0;
}

header {
  padding: 1px 0;
}

footer {
  padding: 5px 0;
  font-size: 14px;
}

body {
  text-align: center;
  background-color: #a6e6f0;
}

.starter-template {
  background-color: white;
  padding: 15px 0;
}

.col {
  font-size: 18px;
}

.genBtn {
  border: 0.5;
  line-height: 2.5;
  margin: 10px 0;
  padding: 0 20px;
  font-size: 1.5rem;
  text-align: center;
  color: #000;
  text-shadow: 1px 1px 1px #fff;
  border-radius: 10px;
}

textarea {
  width: 500px;
  height: 150px;
}
